<mat-card class="card__container card__container--large">
  <mat-card-title>Project Overview</mat-card-title>

  <mat-form-field>
    <mat-label>Project Name</mat-label>
    <input matInput [formField]="projectOverview().projectName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Project ID / Code</mat-label>
    <input matInput [formField]="projectOverview().projectCode" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Project Start Date</mat-label>
    <!-- TODO(FP): The datepicker doesn't set the value in the form control. It set only if we type a value in the field -->
    <!-- <input
      matInput
      [matDatepicker]="startDatePicker"
      name="startDate"
      [field]="projectOverview().startDate"
    /> -->
    <mat-datepicker-toggle
      matSuffix
      [for]="startDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Project End Date</mat-label>
    <!--
    TODO(FP): Fix the datepicker binding
    <input
      matInput
      [matDatepicker]="endDatePicker"
      name="endDate"
      [field]="projectOverview().endDate"
    /> -->
    <mat-datepicker-toggle
      matSuffix
      [for]="endDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Project Location</mat-label>
    <input matInput [formField]="projectOverview().projectLocation" />
  </mat-form-field>
  <!-- TODO(FP): this throws an error in the console -->
  <!-- <mat-form-field>
    <mat-label>Brief Project Description</mat-label>
    <textarea
      matInput
      name="projectDescription"
      [field]="myForm.projectDescription"
    ></textarea>
  </mat-form-field> -->
</mat-card>
