<!-- {{ nameForm.first().value() }}
{{ nameForm.last().value() }}
<custom-input type="text" [field]="nameForm.first" />
<custom-input type="text" [formControl]="nameModel().last" />
{{ nameForm().valid() }}

<fieldset>
  <legend>Signal Form Only</legend>
  {{ nameSignalFormOnly.name().value() }}
  <custom-input type="text" [field]="nameSignalFormOnly.name" />
  {{ nameSignalFormOnly().valid() }}
</fieldset>

<fieldset>
  <legend>with custom wrapper</legend>
  {{ nameSignalFormOnly.name().value() }}

  <label>Name - Signal Forms</label>
  <custom-input-wrapper>
    <input type="text" [field]="nameSignalFormOnly.name" />
  </custom-input-wrapper>

  <label>Last Name - Reactive Forms</label>
  <custom-input-wrapper>
    <input type="text" [formControl]="nameModel().last" />
  </custom-input-wrapper>
</fieldset>

<fieldset>
  <legend>with custom wrapper and label</legend>
  {{ nameForCustomLabelSignalFormOnly.name().value() }}

  <label>Name - Signal Forms</label>
  <custom-input-wrapper label="Name">
    <input type="text" [field]="nameForCustomLabelSignalFormOnly.name" />
  </custom-input-wrapper>

  <label>Last Name - Reactive Forms</label>
  <custom-input-wrapper label="Last Name">
    <input type="text" [formControl]="nameModel().last" />
  </custom-input-wrapper>
</fieldset> -->

<!-- {{ registrationForm().value() | json }} -->
<mat-card class="card__container">
  <form class="register-form" autocomplete="off">
    <div class="form-fields">
      <h2>Register</h2>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput type="email" [field]="registrationForm.email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input matInput [field]="registrationForm.password" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          [field]="registrationForm.confirmPassword"
        />
        @for (
          error of registrationForm.confirmPassword().errors();
          track error.kind
        ) {
          <mat-error> {{ error.message }} </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Country</mat-label>
        <mat-select [field]="registrationForm.country">
          <mat-option value="Poland">Poland</mat-option>
          <mat-option value="Greece">Greece</mat-option>
          <mat-option value="US">US</mat-option>
        </mat-select>
      </mat-form-field>

      @if (!registrationForm.state().hidden()) {
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>State</mat-label>
          <input matInput type="text" [field]="registrationForm.state" />
        </mat-form-field>
      }

      <!-- <app-contact-details [formGroup]="registrationForm.contactDetails" /> -->

      <!-- <input
        matInput
        [type]="passwordType()"
        [field]="registrationForm.password"
      /> -->

      <div
        class="actions"
        style="display: flex; justify-content: flex-end; margin-top: 16px"
      >
        <button type="button" (click)="resetForm()">Reset</button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          [disabled]="registrationForm().invalid()"
        >
          Register
        </button>
      </div>
    </div>
  </form>
</mat-card>
