{{ registrationForm().value() | json }}
<mat-card class="card__container">
  <form class="register-form" autocomplete="off">
    <div class="form-fields">
      <h2>Register</h2>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput type="email" [field]="registrationForm.email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input matInput [field]="registrationForm.password" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          [field]="registrationForm.confirmPassword"
        />
        @for (
          error of registrationForm.confirmPassword().errors();
          track error.kind
        ) {
          <mat-error> {{ error.message }} </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Country</mat-label>
        <mat-select [field]="registrationForm.country">
          <mat-option value="Poland">Poland</mat-option>
          <mat-option value="Greece">Greece</mat-option>
          <mat-option value="US">US</mat-option>
        </mat-select>
      </mat-form-field>

      @if (!registrationForm.state().hidden()) {
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>State</mat-label>
          <input matInput type="text" [field]="registrationForm.state" />
        </mat-form-field>
      }

      <div
        class="actions"
        style="display: flex; justify-content: flex-end; margin-top: 16px"
      >
        <button type="button" (click)="resetForm()">Reset</button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          [disabled]="registrationForm().invalid()"
        >
          Register
        </button>
      </div>
    </div>
  </form>
</mat-card>
