<mat-card class="card__container">
  <form class="register-form" autocomplete="off" [formRoot]="userForm">
    <div class="form-fields">
      <h2>Register</h2>

      <!-- Department -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Department</mat-label>
        <input matInput type="text" [formField]="userForm.department" />
        @for (error of userForm.department().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <!-- Username -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>User Name</mat-label>

        <div matSuffix>
          @if (userForm.userName().dirty() && !userForm.userName().pending()) {
            <mat-icon
              [class.error]="userNameHasAsyncError()"
              [class.success]="!userNameHasAsyncError()"
            >
              {{ userNameHasAsyncError() ? "error" : "check" }}
            </mat-icon>
          }
          @if (userForm.userName().pending()) {
            <mat-progress-spinner mode="indeterminate" diameter="20" />
          }
        </div>

        <input matInput type="text" [formField]="userForm.userName" />
        @for (error of userForm.userName().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <!-- Age -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Age</mat-label>
        <input matInput type="number" [formField]="userForm.age" />
        @for (error of userForm.age().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">
        @if (userForm().submitting()) {
          <div class="flex">
            Submitting
            <mat-progress-spinner mode="indeterminate" diameter="20" />
          </div>
        } @else {
          Submit
        }
      </button>
    </div>
  </form>
</mat-card>
