<mat-card class="card__container card__container--large">
  <mat-card-title>Client Information</mat-card-title>
  <mat-form-field>
    <mat-label>Client's Full Name or Company Name</mat-label>
    <input
      matInput
      name="clientName"
      [field]="clientInformation().clientName"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Contact Person</mat-label>
    <input
      matInput
      name="clientContact"
      [field]="clientInformation().clientContact"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Client's Address</mat-label>
    <input
      matInput
      name="clientAddress"
      [field]="clientInformation().clientAddress"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Phone Number</mat-label>
    <input
      matInput
      name="clientPhone"
      [field]="clientInformation().clientPhone"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      name="clientEmail"
      [field]="clientInformation().clientEmail"
    />
  </mat-form-field>
</mat-card>
