<form [formGroup]="myForm" class="form-container">
  <!-- Password field -->
  <mat-form-field>
    <input matInput placeholder="Type your password..." formControlName="password">
  </mat-form-field>
  <!-- /Password field -->


  <!-- Confirm password field -->
  <mat-form-field>
    <input matInput placeholder="Retype your password..." formControlName="confirmPassword">
    <mat-hint align="start" *ngIf="myForm.errors?.valuesDoNotMatch">
      <strong>Passwords do not match</strong>
    </mat-hint>
  </mat-form-field>
  <!-- /Confirm password field -->


</form>
