<app-recipes />
@if (postResource.error()) {
  <div class="error">{{ postResource.error() }}</div>
}
@if (postResource.isLoading()) {
  <div class="loading">Loading...</div>
} @else {
  <ul>
    @for (post of postResource.value(); track $index) {
      <li>
        <div>{{ post.title }}</div>
      </li>
    }
  </ul>
}

<select [(ngModel)]="selectedPostId">
  @for (postId of postIds(); track postId) {
    <option [value]="postId">{{ postId }}</option>
  }
</select>

@if (postDetailsResource.isLoading()) {
  <div class="loading">Loading...</div>
}

<div>{{ postDetailsResource.value()?.title }}</div>
<div>{{ postDetailsResource.value()?.body }}</div>
