<ng-container [formGroup]="form">
  <div class="form-group">
    <label>{{formItem.label}}</label>
    <ng-container [ngSwitch]="formItem.type">
      <!-- Input text -->
      <input *ngSwitchCase="'text'" type="text" class="form-control" [formControlName]="formItem.id">


      <!-- Select menu -->
      <select *ngSwitchCase="'select'" class="form-control" [formControlName]="formItem.id">
        <option selected [ngValue]="null">Please select</option>
        <option [ngValue]="menuOption.key"
                *ngFor="let menuOption of formItem.selectMenuOptions | keyvalue">
                {{ menuOption.value }}
        </option>
      </select>
    </ng-container>
  </div>

</ng-container>
