<div [formGroup]="formGroup()">
  <custom-input-wrapper label="Street">
    <input
      id="street"
      type="text"
      formControlName="street"
      placeholder="Enter street name"
      autocomplete="off"
    />
  </custom-input-wrapper>

  <custom-input-wrapper label="Number">
    <input
      id="number"
      type="text"
      formControlName="number"
      placeholder="Enter number"
      autocomplete="off"
    />
  </custom-input-wrapper>

  <custom-input-wrapper label="Postal Code">
    <input
      id="postalCode"
      type="text"
      formControlName="postalCode"
      placeholder="Enter postal code"
      autocomplete="off"
    />
  </custom-input-wrapper>
</div>
