/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  @include mat.theme(
    (
      color: mat.$green-palette,
      typography: Roboto,
      density: 0,
    )
  );
}
