<fieldset>
  <legend>Signatories</legend>
  <mat-form-field>
    <mat-label>Client Signatory Name</mat-label>
    <input matInput name="clientSignatory" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contractor Signatory Name</mat-label>
    <input matInput name="contractorSignatory" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date of Agreement</mat-label>
    <input matInput [matDatepicker]="agreementDatePicker" name="agreementDate" />
    <mat-datepicker-toggle matSuffix [for]="agreementDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #agreementDatePicker></mat-datepicker>
  </mat-form-field>
</fieldset>
